h1 {
    text-align: center;
    font-family: 'Asset';font-size: 33px;
}
.global-footer {
    text-align: center;
}
.global-center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-scroll-1 {
    display: flex;
    width: 500px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}


.div-scroll-2 {
    border: 1px solid #000000;
    width: 400px;
    height: 200px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}
@media only screen and (max-width: 350px) {
    
    /*mobile screen = screen size 350px */
    .div-scroll-1 {
        width: 200px;
        background-color: rgb(109, 100, 160);
    }
        
}